.clear {
  clear:both;
}

#topdiv {
  height:80px;
  background-color:#404040;
  margin:0px auto;
}

#topdiv h1 { 
  color:white;
  margin:0px;
  font-size:60px;
}

.wrapper {
  width:960px;
  margin:0px auto;
}

/*body {
background-image: url(images/planet.jpg); 
background-size: 100%;
color:white;
}

.white {
color:white;
}*/

#logincontainer {
margin:0px auto;
width:50%;
height:50%;
padding:30px;
border:1px solid silver;
margin-top:20px;
margin-bottom:20px;
/*background-color:rgba(0,0,0,0.5);*/
}

.wrapper h2{
  font-size:30px;
}

#new_message {
  margin:0px auto;
  width:100%;
}

#logo {
  width:200px;
  float:left;
}

#welcome_logout {
  float:right;
  color:white;
  margin-top:10px;
  width:400px;
  text-align:right;
}

#welcome_logout h6 {
  margin:0px;
  font-size:14px;
  margin-bottom:10px;
}

.posted_message h4 {
  font-size:16px;
  margin:0px;
}

.posted_message p {
  font-size:14px;
  background-color:white;
  border:1px solid black;
  margin-top:5px;
  margin-bottom:0px;
  padding:10px;
  border-radius: 5px;  
}

.posted_message button {
  margin:0px;
}

.comment_box {
  text-align:right;
  width:100%;
}

.comment_box textarea {
  width:100%;
}

.posted_comment {
  width:100%;
}

.posted_comment textarea{
  width:100%;
}

.posted_comment h4 {
  font-size:16px;
  margin:0px;
}

.posted_comment p {
  font-size:14px;
  background-color:white;
  border:1px solid black;
  margin-top:5px;
  padding:10px;
  border-radius: 5px;  
}
